@use "theme" as *;

// all elements
*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	tab-size: 4;
}

// contains left-content and minimap
.all-content
{
	display: flex;
	justify-content: center;
}

// contains sidebar & content
.left-content
{
	display: flex;
	justify-content: start;
	max-width: 80rem;
	overflow: visible;
	transform: translateX(-9rem);
}


///
/// sidebar
/// ---------
///
.sidebar
{
	position: sticky;
	width: 18rem;
	max-width: 18em;
	height: 100vh;
	top: 0;
	display: flex;
	flex-flow: column;
	padding: 1em;
	justify-content: space-between;
}

// avatar
.sidebar-avatar
{
	display: flex;
	justify-content: space-around;
	flex-flow: column;
}

.sidebar-avatar img
{
	padding: 1em;
	width: 100%;
	background-color: transparent;
}



///
/// contents
/// ----------
///
.contents
{
	max-width: 48em;
	margin: 0;
	padding: 0;
}




///
/// minimap
/// -------------
///
.minimap
{
	width: 6rem;
	position: sticky;
	top: 0;
	height: 100%;
	margin-left: 2.25rem;
	transform: translateX(-9rem);
}

.minimap .contents
{
	position: absolute;
	user-select: none;
	z-index: -1;
	transform-origin: top left;
	//overflow: visible;
}

.minimap .contents p
{
	//color: #555;
	//background-color: #555;
	filter: blur(0.25em);
}

.minimap .controller
{
	position: absolute;
	cursor: grab;
	top: 0;
	background: rgba(0.2, 0.2, 0.2);
	opacity: 0;
	z-index: 999;
	transform-origin: top left;
	transition: opacity 0.2s ease-in-out;
	//backdrop-filter: invert(1);
}

.banner
{
	min-height: 300px;
	background: #222;
	margin-bottom: 0.33lh;
}


// NOTE: by design this applies to both the main
// contents and the minimap contents
.inner-contents
{
	padding: 2.5em;
	max-width: 48em;
}



h2
{
	margin-top: 1.85em;
}



///
/// Responsive Sizing
/// --------------------
///

// xl: 80rem to 96rem
@media (width < 96rem)
{
	.all-content
	{
		justify-content: left;
	}

	.left-content
	{
		transform: none;
		margin-left: 0;
		//min-left: 18rem;
	}

	.minimap
	{
		position: fixed;
		right: 0.25rem;
		transform: none;
		margin-left: 0;
	}
}

// large: 72rem to 80rem
@media (width < 80rem)
{
	.sidebar
	{
		font-size: 0.7rem !important;
	}

	.sidebar .avatar:after
	{
		text-align: right;
		display: block;
		width: 100%;
	}

	.left-content
	{
		justify-content: center;
		max-width: auto;
	}

	.minimap
	{
		right: 0rem;
	}
}

// medium: 64rem to 72rem (we have fudged it a little)
@media (width < 72rem)
{
	.hide-if-medium
	{
		display: none !important;
	}
}

// small-medium: 56rem to 64rem
@media (width < 64rem)
{}

// small: 48rem to 56rem
@media (width < 56rem)
{
	.hide-if-small
	{
		display: none !important;
	}
}
