@use 'sass:color';





///
/// defaults for hyperlinks
/// --------------------------
/// 
@property --post-hyperlink-color
{
	syntax: "<color>";
	inherits: true;
	initial-value: LinkText;
}

@property --post-hyperlink-hover-color
{
	syntax: "<color>";
	inherits: true;
	initial-value: LinkText;
}

@property --post-hyperlink-visited-color
{
	syntax: "<color>";
	inherits: true;
	initial-value: VisitedText;
}

@property --post-hyperlink-visited-hover-color
{
	syntax: "<color>";
	inherits: true;
	initial-value: VisitedText;
}











// all elements
*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	tab-size: 4;

	background: var(--void-color);
}

// contains left-content and minimap
.all-content
{
	display: flex;
	justify-content: left;
	align-items: stretch;
}



///
/// left-content
/// --------------
///
.left-content
{
	display: flex;
	flex-grow: 1;
	justify-content: right;
	
	.sidebar
	{
		position: sticky;
		width: 18rem;
		max-width: 18em;
		height: 100vh;
		top: 0;
		display: flex;
		flex-flow: column;
		padding: 1em;
		margin-right: 1.5em;
		justify-content: space-between;
	}

	.sidebar-avatar img
	{
		padding: 1em;
		width: 100%;
		background-color: transparent;
	}
}


///
/// center-content
/// ----------------
///
.center-content
{
	flex-grow: 1;
	max-width: 52rem;

	.right-spacer
	{
		width: 6rem;
		height: 100%;
	}

	a.link-wrapper
	{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width:100%; 
		height: 100%;
	}
}


///
/// right-content
/// ---------------
/// 
.right-content
{
	flex-grow: 1.5;
	justify-content: left;
	display: flex;
	
	> *
	{
		display: flex;
	}

	.left-spacer
	{
		width: 6rem;
		background: var(--background-color);
	}
}


///
/// inner-contents
/// ----------------
/// (affects both main contents & minimap)
/// 
/// add padding at the bottom to reflect the visual studio scroll
/// experience where we can move past the end of the document, and
/// place the EOF at the top of the screen. actually that would be
/// 100vh, 50vh is set here because this is a blog.
///
.inner-contents
{
	padding-bottom: 50vh;
}





///
/// sidebar
/// ---------
///

// sidebar
.sidebar
{
	.sidebar-blurb
	{
		margin: 0 0.5em;
		color: var(--text-color);

		> *
		{
			display: flex;
			justify-content: space-between;
			font-size: 1.5em;
		}

		.title
		{
			font-family: Arial, "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
			font-size: 4em;
			text-align: left;
			color: var(--accent-color);
			text-decoration-color: var(--accent-color-deep);
			margin-right: 0.25em;

			&:after
			{
				content: "\00a0\00a0\00a0\00a0\00a0";
			}

			&:hover
			{
				color: var(--accent-color-bright);
				text-decoration-color: var(--accent-color-deep-bright);
				text-shadow: 0 0 0.25em var(--accent-color-dark);
			}
		}

		.description
		{
			font-family: georgia;
			font-size: 1.1em;
			line-height: 1.25em;
		}

		.navigation a
		{
			font-family: Helvetica, Arial, "sans-serif";
			color: var(--text-color);

			&:hover
			{
				color: var(--text-color);
			}

			&.nav_home
			{
				text-decoration-color: #a14;
				&:hover
				{
					color: #fca;
					text-decoration-color: #f33;
					text-shadow: 0 0 1em #f33;
				}
			}

			&.nav_posts
			{
				text-decoration-color: #264;
				&:hover
				{
					color: #afd;
					text-decoration-color: #393;
					text-shadow: 0 0 1em #393;
				}
			}

			&.nav_about
			{
				text-decoration-color: #249;
				&:hover
				{
					color: #adf;
					text-decoration-color: #3ad;
					text-shadow: 0 0 1em #3ad;
				}
			}
		}
	}
}




///
/// minimap
/// -------------
///
.minimap
{
	position: sticky;
	width: 6rem;
	top: 0;
	height: 100vh;
	background: var(--background-color);
}

.minimap .contents
{
	position: absolute;
	visibility: hidden;
	transform-origin: top left;
	left: 0;
	top: 0;
	user-select: none;
	z-index: -1;
}


.minimap .controller
{
	position: absolute;
	cursor: grab;
	top: 0;
	background: rgba(0.2, 0.2, 0.2);
	opacity: 0;
	z-index: 999;
	transform-origin: top left;
	transition: opacity 0.2s ease-in-out;
	//backdrop-filter: invert(1);
}

.banner
{
	min-height: 300px;
	background: #222;
	margin-bottom: 0.33lh;
}


// NOTE: by design this applies to both the main
// contents and the minimap contents
.inner-contents .post
{
	padding: 4rem;
	color: var(--text-color);
}

button
{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	padding: 0;
	border-radius: 0;
	border: none;
	cursor: pointer;
}




///
/// Posts
/// --------
/// 
.post
{
	padding-top: 2.5em;
	padding-bottom: 2em;
	padding-left: 3rem;
	line-height: 1.5em;

	font-family: var(--post-font-family);
	
	.post-title
	{
		padding-top: 3vh;
		font-size: 5em;
		line-height: 1em;

		color: var(--post-title-color);
		font-family: var(--post-title-font);

		&:hover
		{
			color: var(--post-title-hover-color);
			text-decoration-color: var(--post-title-hover-text-decoration-color);
			text-shadow: 0 0 1em var(--post-title-hover-text-shadow-color);
		}
	}

	.post-author
	{
		padding-left: 0.5em;
		margin-top: 0;
		margin-bottom: 3em;

		color: var(--post-date-color);
	}


	// GENERAL TEXT ELEMENTS
	a
	{
		color: var(--post-hyperlink-color);

		&:hover { color: var(--post-hyperlink-hover-color); }
		&:visited { color: var(--post-hyperlink-visited-color); }
		&:visited:hover { color: var(--post-hyperlink-visited-hover-color); }
	}

	h2
	{
		font-family: var(--post-h2-font-family);
		margin-top: 1.85em;
		color: var(--post-h2-color);
	}
}

///
/// Excerpts
/// ----------
///
.post.excerpt
{
	position: relative;

	.paginated-post-title
	{
		color: var(--post-title-color);
		line-height: 1em;
		font-size: 1.35em;
		font-family: Arial;
	}

	.overlay
	{
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 999;

		background-image: linear-gradient(to bottom, transparent 50%, var(--background-color) 90%);
	}
}

// restrict hover effect to main contents
.center-content .post.excerpt
{
	&:hover
	{
		background-color: var(--post-highlight-color);

		.paginated-post-title
		{
			color: var(--post-title-hover-color);
			text-decoration-color: var(--post-title-hover-text-decoration-color);
			text-shadow: 0 0 0.25em var(--post-title-hover-text-shadow-color);
		}
	}
}



///
/// 
///  
span.theme-icon
{
	border: 1px solid transparent;
	width: 1em;
	height: 1em;
}

.custom-select
{
	width: 100%;
	position: relative;

	select
	{
		appearance: base-select;
		width: 100%;
		font-size: 1rem;
		padding: 0.25em 0em 0.25em 0.5em;
		border: 1px solid var(--void-accent-color);
		color: var(--void-foreground-color);
		font-family: sans-serif;

		&::picker(select)
		{
			appearance: base-select;
			bottom: auto;
			top: anchor(bottom);
			background: transparent;
			color: var(--background-color);
			border: none;
		}

		&:open
		{
			overflow: visible;

			border-radius: 8px 8px 0 0;
		}

		option
		{
			background: var(--background-color);
			color: var(--text-color);

			// rounded corners
			&:last-of-type { border-radius: 0 0 8px 8px; }
			// no checkmark
			&::checkmark { display: none; }

			&:hover, &:focus
			{
				background: var(--background-bright-color);
			}

			// span
			span.theme-icon
			{
				display: inline-block;
				margin-right: 1ch;
			}
		}
	}

	select::picker-icon
	{
		content: "❯";
		rotate: 90deg;
		margin-right: 0.5em;
		color: grey;
	}

	select:open::picker-icon
	{
		rotate: -90deg;
		margin-right: 0.5em;
	}

	

	//&::before, &::after {
	//	--size: 0.3rem;
	//	position: absolute;
	//	content: "";
	//	right: 1rem;
	//	pointer-events: none;
	//}
//
	//&::before
	//{
	//	border-left: var(--size) solid transparent;
	//	border-right: var(--size) solid transparent;
	//	border-bottom: var(--size) solid black;
	//	bottom: 55%;
	//}
//
	//&::after
	//{
	//	border-left: var(--size) solid transparent;
	//	border-right: var(--size) solid transparent;
	//	border-top: var(--size) solid black;
	//	top: 55%;
	//}
}


// post
.center-content
{
	background-color: var(--background-color) !important;
	//background-color: #2d2d2d;
}






///
/// Responsive Sizing
/// --------------------
///
@media (width > 128rem) { .mediasize::after { content: "size: way-big"; } }
@media (width < 128rem) { .mediasize::after { content: "size: 2xl"; } }
@media (width < 96rem) { .mediasize::after { content: "size: xl"; } }
@media (width < 80rem) { .mediasize::after { content: "size: large"; } }
@media (width < 72rem) { .mediasize::after { content: "size: medium"; } }
@media (width < 64rem) { .mediasize::after { content: "size: small-medium"; } }
@media (width < 54rem) { .mediasize::after { content: "size: small"; } }

// xl: 80rem to 96rem
@media (width < 96rem)
{
	.all-content
	{
		justify-content: left;
	}

	.left-content
	{
		transform: none;
		margin-left: 0;
		//min-left: 18rem;
	}

	.center-content
	{
		padding-right: 0;
	}

	.right-content
	{
		justify-content: right;

		.left-spacer
		{
			width: auto;
			flex-grow: 1;
		}

		.minimap
		{
			transform: none;
			margin-left: 0;
			padding: 0;
		}

		.right-spacer
		{
			display: none;
		}
	}
}

// large: 72rem to 80rem
@media (width < 80rem)
{
	.sidebar
	{
		font-size: 0.7rem !important;
	}

	.sidebar .avatar:after
	{
		text-align: right;
		display: block;
		width: 100%;
	}

	.left-content
	{
		justify-content: center;
		max-width: auto;
	}

	.center-content
	{
		padding-right: 0;
	}

	.minimap
	{
		right: 0rem;
	}
}

// medium: 64rem to 72rem (we have fudged it a little)
@media (width < 72rem)
{
	.hide-if-medium
	{
		display: none !important;
	}
}

// small-medium: 56rem to 64rem
@media (width < 64rem)
{}

// small: 48rem to 56rem
@media (width < 56rem)
{
	.hide-if-small
	{
		display: none !important;
	}
}
