---
# Only the main Sass file needs front matter (the dashes are enough)
---

$literal: #da9;

//padding: 0.33ch 0ch 0.33ch 1ch;





figure.highlight { display: none; }
//pre.highlight { display: none; }
//pre.highlight > code { display: none; }

.highlighter-rouge
{
    min-width: 0;
    max-width: 60vw;
}

pre.highlight > code { white-space: pre-wrap; }


.highlight .hll { background-color: #49483e }
.highlight pre { background-color: #212121 }
.highlight  { background-color: #212121; color: #e7e7e7 }
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #49d } /* Keyword */

//.highlight .n { color: #e0e0e0 } /* Name */
//.highlight .o { color: #f92672 } /* Operator */

.highlight .p { color: #ddd } /* Punctuation */

// preprocessor
.highlight .cp { color: #fa4 } /* Comment.Preproc */
//.highlight .cpf { color: #75715e } /* Comment.PreprocFile */

// comments
.highlight .c { color: #75ff5e } /* Comment */
.highlight .ch { color: #75715e } /* Comment.Hashbang */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .c1 { color: #75995e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */

.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .kc { color: #0f0 } /* Keyword.Constant */
.highlight .kd { color: #f00 } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #121 } /* Keyword.Pseudo */
//.highlight .kr { color: #ff0 } /* Keyword.Reserved */
//.highlight .kt { color: #f0f } /* Keyword.Type */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */

// literals
.highlight .l  { color: $literal } /* Literal */
.highlight .m  { color: $literal } /* Literal.Number */
.highlight .mb { color: $literal } /* Literal.Number.Bin */
.highlight .mf { color: $literal } /* Literal.Number.Float */
.highlight .mh { color: $literal } /* Literal.Number.Hex */
.highlight .mi { color: $literal } /* Literal.Number.Integer */
.highlight .il { color: $literal } /* Literal.Number.Integer.Long */
.highlight .mo { color: $literal } /* Literal.Number.Oct */
.highlight .s  { color: $literal } /* Literal.String */
.highlight .sa { color: $literal } /* Literal.String.Affix */
.highlight .sb { color: $literal } /* Literal.String.Backtick */
.highlight .sc { color: $literal } /* Literal.String.Char */
.highlight .dl { color: $literal } /* Literal.String.Delimiter */
.highlight .sd { color: $literal } /* Literal.String.Doc */
.highlight .s2 { color: $literal } /* Literal.String.Double */
.highlight .se { color: $literal } /* Literal.String.Escape */
.highlight .sh { color: $literal } /* Literal.String.Heredoc */
.highlight .si { color: $literal } /* Literal.String.Interpol */
.highlight .sx { color: $literal } /* Literal.String.Other */
.highlight .sr { color: $literal } /* Literal.String.Regex */
.highlight .s1 { color: $literal } /* Literal.String.Single */
.highlight .ss { color: $literal } /* Literal.String.Symbol */
.highlight .ld { color: $literal } /* Literal.Date */

// "names"
//.highlight .na { color: #a6e22e } /* Name.Attribute */
//.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
//.highlight .nc { color: #a6e22e } /* Name.Class */
//.highlight .no { color: #66d9ef } /* Name.Constant */
//.highlight .nd { color: #a6e22e } /* Name.Decorator */
//.highlight .ni { color: #f8f8f2 } /* Name.Entity */
//.highlight .ne { color: #a6e22e } /* Name.Exception */
//.highlight .nf { color: #a6e22e } /* Name.Function */
//.highlight .nl { color: #f8f8f2 } /* Name.Label */
//.highlight .nn { color: #ff0 } /* Name.Namespace */
//.highlight .nx { color: #a6e22e } /* Name.Other */
//.highlight .py { color: #f8f8f2 } /* Name.Property */
//.highlight .nt { color: #f92672 } /* Name.Tag */
//.highlight .nv { color: #f8f8f2 } /* Name.Variable */
//.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
//.highlight .fm { color: #222 } /* Name.Function.Magic */
//.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
//.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
//.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
//.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */


