@use 'sass:color';

$void: #1a1a1a;
$background: #2a2a2a;

$link-background: #f7f7f0;
$color-link: #662;
$color-highlight: #ba0;

// title-styling
$post-title-color: #ff5057;
$post-title-hover-color: #ff575f;
$post-title-hover-text-decoration-color: #f46;
$post-title-hover-text-shadow-color: #d33;

$post-author-color: color.scale($background, $lightness: 30%);

$post-hyperlink-color: #6ae;
//$post-hyperlink-color: #ff7777;
$post-hyperlink-hover-color: color.scale($post-hyperlink-color, $lightness: 33%);
$post-hyperlink-visited-color: color.scale($post-hyperlink-color, $lightness: -15%);

button.select-theme.theme-dark
{
	background-color: #333;
}


body
{
	background-color: $void;
}


//
.right-content
{
	.left-spacer
	{
		background: $background;
	}

	.right-spacer
	{
		background: $void;
	}
}




.inner-contents
{
	color: #c7c7c7;
}

.post
{
	font-family: Georgia;
	padding-top: 2.5em;
	padding-bottom: 2em;
	padding-left: 3rem;
	line-height: 1.5em;

	h2
	{
		font-family: "bingbong", Lato, "Microsoft Yahei", sans-serif;
	}
}


.post-header
{
	padding-top: 3vh;
	font-family: Arial;
}




// sidebar
.sidebar-avatar
{
	background-image: radial-gradient(closest-side at 46% 50%, white, white, $void);
}

.sidebar-blurb
{
	margin: 0 0.5em;
	color: #ddd;
}

.sidebar-blurb p
{
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
}


.sidebar-blurb a.title
{
	font-family: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
	font-size: 4em;
	text-align: left;
	color: #ff5057;
	text-decoration-color: #f25;
	margin-right: 0.25em;

	&:after
	{
		content: "\00a0\00a0\00a0\00a0\00a0\00a0";
	}

	&:hover
	{
		color: #f66;
		text-decoration-color: #f46;
		text-shadow: 0 0 0.25em #d33;
	}
}

.sidebar-blurb .description
{
	font-family: georgia;
	font-size: 1em;
	line-height: 1.5em;
}

.sidebar-blurb .navigation a
{
	font-family: Helvetica, Arial, "sans-serif";
	color: #ddd;

	&:hover
	{
		color: #aaa;
	}

	&.nav_home
	{
		text-decoration-color: #f00;
		&:hover
		{
			color: #faa;
			text-decoration-color: #d33;
			text-shadow: 0 0 1em #f33;
		}
	}

	&.nav_posts
	{
		text-decoration-color: #283;
		&:hover
		{
			color: #afd;
			text-decoration-color: #393;
			text-shadow: 0 0 1em #393;
		}
	}

	&.nav_about
	{
		text-decoration-color: #25f;
		&:hover
		{
			color: #adf;
			text-decoration-color: #3af;
			text-shadow: 0 0 1em #3af;
		}
	}
}

///
/// POST
/// --------
///
.post
{
	background-color: $background;

	.paginated-post-title
	{
		color: #448;
		font-size: 1.25em;

		&:visited
		{
			//color: yellow;
		}
	}

	.post-title
	{
		font-size: 5em;
		color: #ff5057;
		line-height: 1em;
		font-family: Arial;
		margin-bottom: 0;
		margin-top: 0;

		//text-shadow: 0 0 1em color.adjust($post-title-hover-text-shadow-color, $red: 255);

		&:hover
		{
			color: $post-title-hover-color;
			text-decoration-color: $post-title-hover-text-decoration-color;
			text-shadow: 0 0 1em $post-title-hover-text-shadow-color;
		}
	}

	.post-author
	{
		padding-left: 0.5em;
		color: $post-author-color;
		margin-top: 0;
		margin-bottom: 3em;
	}


	// GENERAL TEXT ELEMENTS
	a
	{
		color: $post-hyperlink-color;

		&:hover { color: $post-hyperlink-hover-color; }
		&:visited { color: $post-hyperlink-visited-color; }
		&:hover:visited { color: color.scale($post-hyperlink-color, $lightness: -10%); }
	}
}


.inner-contents .post:not(:last)
{
	margin-bottom: 2em;
	//position: relative;
}


///
/// EXCERPTS
///
.post.excerpt
{
	position: relative;
	marign-bottom: 2em;
}

.post.excerpt .overlay-contents
{
	position: relative;
}

.post.excerpt .overlay
{
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 999;
	background-image: linear-gradient(to bottom, transparent 50%, $background 90%);
}

.post.excerpt .paginated-post-title
{
	color: #ff5057;
	line-height: 1em;
	&:hover
	{
		color: #f66;
		text-decoration-color: #f46;
		text-shadow: 0 0 0.25em #d33;
	}
}


// paragraph code
code:not(.highlight code)
{
	background-color: #4a4a4a;
	border: 1px solid #575757;
	margin-left: 0.0ch;
	margin-right: 0.0ch;
	padding-left: 0.25ch;
	padding-right: 0.25ch;
	font-size: 0.9em;
}



// CODE
.highlight
{
	line-height: 1rem;
	padding: 0.1ch 0.5em;
	font-size: 1rem;
}

div.highlighter-rouge
{
	box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

:not(.highlight) > .blammo
{
	//background-color: #dfdfd0;
	color: #000;
	margin-left: 0.0ch;
	margin-right: 0.0ch;
	padding-left: 0.2ch;
	padding-right: 0.2ch;
	font-size: 1em;
}
