@charset "utf-8";
@use "sass:color";

//region Variables

$font-size-regular:   20px;

$font-size-xlarge:   $font-size-regular * 2;
$font-size-large:   $font-size-regular * 1.5;
//regular
$font-size-medium:  $font-size-regular * 0.875;
$font-size-small:  $font-size-regular * 0.75;

$base-line-height: 1.4;

$spacing-unit:          30px;
$spacing-micro-unit:    6px;

$mobile-width:  375px;
$tablet-width:  685px;
$screen-width:  780px;

//endregion



$theme-name: 'light';
$title-font-family: Arial, sans-serif;


$font-family-base: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
$header-font-family: "ibm-plex-sans", "IBM Plex Sans", sans-serif;
$header-2-font-family: "ibm-plex-serif", "IBM Plex Serif", "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
$fixed-width-font-family: 'ibm-plex-mono', "IBM Plex Mono", 'SF Mono', 'Consolas', monospace;

//$void: #e0d7d0;
$void: #e0c7c0;
//$void: #777;
$background: #eaeae7;

$link-background: #f7f7f0;
$color-link: #662;
$color-highlight: #ba0;

// title-styling
$title-color: #554;
$title-hover-color: #fa6;

body
{
    background-color: $void;
}

// sidebar
.sidebar-avatar
{
    background-image: radial-gradient(closest-side, white, $void);
}

.sidebar-blurb
{
    margin: 0 0.5em;
    font-size: 1.5em;
}

.sidebar-blurb p
{
    display: flex;
    justify-content: space-between;
}

.sidebar-blurb a
{
    font-family: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
    text-decoration: underline;
    //margin: 0 0.25em;
}

.sidebar-blurb a.title
{
    font-family: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
    font-size: 3em;
    text-align: left;
    color: black;
    text-decoration-color: #f25;
    margin-right: 0.25em;

    &:after
    {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0";
    }
}

.sidebar-blurb .description
{
    font-family: georgia;
    font-size: 0.7em;
    line-height: 1.5em;
}

.sidebar-blurb .navigation a
{
    font-family: Helvetica, Arial, "sans-serif";
    color: #222;

    &:hover
    {
        color: #444;
    }

    &.nav_home
    {
        text-decoration-color: red;
        &:hover
        {
            text-decoration-color: #f66;
            text-shadow: 0 0 1em #f66;
        }
    }

    &.nav_posts
    {
        text-decoration-color: green;
        &:hover
        {
            text-decoration-color: #393;
            text-shadow: 0 0 1em #393;
        }
    }

    &.nav_about
    {
        text-decoration-color: #25f;
        &:hover
        {
            text-decoration-color: #3af;
            text-shadow: 0 0 1em #3af;
        }
    }
}


.sidebar-blurb a.nav_posts
{
    text-decoration-color: #2a3;
    text-align: left;
    margin-right: 0.25em;
}

.sidebar-blurb .author:hover
{
    text-decoration-color: #f79;
    color: #d04;
}

//
// site-navigation
// ----------------
//
.site-navigation
{
    font-family: Verdana;
    background: $background;

    a
    {
        padding: 0.33lh 0ch;
        text-decoration: none;
    }

    a:hover
    {
        background: $link-background;
        color: $color-highlight;
    }

    margin-bottom: 0.33lh;
}

a.paginated-post-title
{
    font-size: 1.2em;
    color: $title-color;
}

a.paginated-post-title:hover
{
    color: $title-hover-color;
}


//
// post
// ------
//
//
.posts
{
    background-color: $background;
}
.post
{
    font-family: Georgia;
    color: #332;
    background-color: $background;
    padding-top: 2.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    line-height: 1.5em;
    //width: 100%;

    h2
    {
        font-family: "bingbong", Lato, "Microsoft Yahei", sans-serif;
    }
}

.post-header, .post-content
{
    background: $background;
}

.post-header
{
    padding-top: 3vh;
    font-family: Arial;
}

.post-title
{
    font-size: 3em;
    color: $title-color;
    margin-bottom: 0;
    font-family: Arial;
}

.post-author
{
    margin-top: 0.5lh;
    padding-left: 0.5ch;
    color: #aa9;
}

.post-content
{
    padding-top: 1lh;
    padding-bottom: 2lh;
    width: 100%;
}

.h5
{
    font-family: Roboto Mono;
}

// CODE
.highlight
{
    line-height: 1rem;
    padding: 0.1ch 0.5em;
}

.highlighter-rouge
{
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

:not(.highlight) > .blammo
{
    //background-color: #dfdfd0;
    color: #000;
    margin-left: 0.0ch;
    margin-right: 0.0ch;
    padding-left: 0.2ch;
    padding-right: 0.2ch;
    font-size: 1.025em;
}



// GENERAL THEMING

a
{
    color: $color-link;
}

a:hover
{
    color: $color-highlight;
}
