@charset "utf-8";
@use "sass:color";

//region Variables

$font-size-regular:   20px;

$font-size-xlarge:   $font-size-regular * 2;
$font-size-large:   $font-size-regular * 1.5;
//regular
$font-size-medium:  $font-size-regular * 0.875;
$font-size-small:  $font-size-regular * 0.75;

$base-line-height: 1.4;

$spacing-unit:          30px;
$spacing-micro-unit:    6px;

$mobile-width:  375px;
$tablet-width:  685px;
$screen-width:  780px;

//endregion



$theme-name: 'light';
$title-font-family: Arial, sans-serif;


$font-family-base: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
$header-font-family: "ibm-plex-sans", "IBM Plex Sans", sans-serif;
$header-2-font-family: "ibm-plex-serif", "IBM Plex Serif", "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
$fixed-width-font-family: 'ibm-plex-mono', "IBM Plex Mono", 'SF Mono', 'Consolas', monospace;

//$void: #e0d7d0;
$void: #e0c7c0;
//$void: #777;
$background: #eaeae7;

$link-background: #f7f7f0;
$color-link: #662;
$color-highlight: #ba0;

// title-styling
$title-color: #554;
$title-hover-color: #fa6;


span.theme-icon.ct-light
{
	background-color: $background;
	border-color: #ddd !important;
}


// base palette
:root.ct-light
{
	--void-color: #e0c7c0;
	--void-accent-color: #b2b2b0;

	--void-foreground-color: #777;
	
	--background-color: #eaeae7;
	--background-bright-color: #dadad7;

	--foreground-color: #333;

	--accent-color: #4466aa;
	--accent-color-deep: #35a;
	--accent-color-bright: #4f70aa;
	--accent-color-deep-bright: #375faa;
	--accent-color-dark: #66fa;
}

// topic palette
:root.ct-light
{
	--text-color: var(--foreground-color);


	--post-highlight-color: #6662;

	// post-title
	--post-title-font: Arial;
	--post-title-font-size: 5em;
	--post-title-color: var(--accent-color);
	--post-title-hover-color: var(--accent-color-bright);
	--post-title-hover-text-decoration-color: var(--accent-color-deep-bright);
	--post-title-hover-text-shadow-color: var(--accent-color-dark);

	// post-date
	--post-date-color: #444;

	// post-body
	--post-h2-font-family: "bingbong", Lato, "Microsoft Yahei", sans-serif;
	--post-h2-color: var(--accent-color);
	--post-font-family: Georgia;
}