@charset "utf-8";
@use "sass:color";

//region Variables

$font-size-regular:   20px;

$font-size-xlarge:   $font-size-regular * 2;
$font-size-large:   $font-size-regular * 1.5;
//regular
$font-size-medium:  $font-size-regular * 0.875;
$font-size-small:  $font-size-regular * 0.75;

$base-line-height: 1.4;

$spacing-unit:          30px;
$spacing-micro-unit:    6px;

$mobile-width:  375px;
$tablet-width:  685px;
$screen-width:  780px;

//endregion

//region Theme

$theme-name: 'light';
$title-font-family: Arial, sans-serif;


$font-family-base: "ff-tisa-web-pro", "IBM Plex Serif", Georgia, "Times New Roman", serif;
$header-font-family: "ibm-plex-sans", "IBM Plex Sans", sans-serif;
$header-2-font-family: "ibm-plex-serif", "IBM Plex Serif", "ff-tisa-web-pro", Georgia, "Times New Roman", serif;
$fixed-width-font-family: 'ibm-plex-mono', "IBM Plex Mono", 'SF Mono', 'Consolas', monospace;

$void: #ddc7b7;
$background: #f0f0e7;

$link-background: #f7f7f0;
$color-link: #662;
$color-highlight: #aa6;


body
{
    background-color: $void;
}


//
// site-navigation
// ----------------
//
.site-navigation
{
    font-family: Verdana;
    background: $background;

    a
    {
        padding: 0.33lh 0ch;
        text-decoration: none;
    }

    a:hover
    {
        background: $link-background;
        color: $color-highlight;
    }

    margin-bottom: 0.33lh;
}

//
// post
// ------
//
//
.post
{
    font-family: Georgia;
    color: #332;
    background-color: $background;
}

.post-header, .post-content
{
    background: $background;
}

.post-header
{
    padding-top: 3vh;
    font-family: Arial;
}

.post-title
{
    font-size: 3em;
    color: #333;
    margin-bottom: 0;
}

.post-author
{
    margin-top: 0.5lh;
    padding-left: 0.5ch;
    color: #aa9;
}

.post-content
{
    padding-top: 1lh;
    padding-bottom: 2lh;
}

.h5
{
    font-family: Roboto Mono;
}

:not(.highlight) > code
{
    background-color: #dfdfd0;
    color: #000;
    margin-left: 0.0ch;
    margin-right: 0.0ch;
    padding-left: 0.2ch;
    padding-right: 0.2ch;
    font-size: 1.025em;
}



// GENERAL THEMING

a
{
    color: $color-link;
}

a:hover
{
    color: $color-highlight;
}
