<!doctype html>
<html class="light">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
  </head>
  <body class="light">
    <section class="center">
      <section class="banner">
        <img href="banner.jpg" />
      </section>
      <section class="site-navigation">
        <a class="home" href="/">Home</a>
        <a class="posts" href="/posts">Posts</a>
        <a class="about" href="#">About</a>
      </section>
      {{ content }}
    </section>
  </body>
</html>